# 编译输出
/dist
/build
/out
/node_modules

# 日志文件
*.log

# 环境变量文件
.env

# 临时文件
*.tmp
*.swp

# 操作系统生成的文件
.DS_Store
Thumbs.db

# IDE配置文件
.vscode/
.idea/

# 依赖包
package-lock.json
yarn.lock

# 测试覆盖率报告
coverage/

# 生产环境配置
config/production.json

# Python 缓存文件
__pycache__/
*.py[cod]
.gitignore
.gitmodules

# egg-info
optimus.egg-info
