pyspark==3.5.5
numpy==2.2.4
pandas==2.2.3
scipy==1.15.2
statsmodels==0.14.4
scikit-learn==1.6.1
xgboost==3.0.0
lightgbm==4.6.0

MergePythonClient
seaborn
sqlalchemy
PyMySQL
termcolor
gspread
pydrive
google-cloud
joblib
hyperopt
requests
google-cloud
google-cloud-storage
google-cloud-bigquery
google-cloud-bigquery-storage
xmltodict
uuid
openpyxl
holoviews
altair
fastapi
python-dateutil
pydantic
uvicorn
ipywidgets
db-dtypes
fsspec
gcsfs